<div class="pagination-controls {{viewId}}">
  {{#if count}}
    <span class="pagination-range">{{range}}</span>
    <a href="{{url routeName routeParams prevQuery}}"
       class="prev-page{{#unless multiPaged}} hidden{{/unless}}"
       {{#unless prev}}disabled{{/unless}}>
      {{icon 'atlas-arrow-thin-left'}}
    </a>
    <a href="{{url routeName routeParams nextQuery}}"
       class="next-page{{#unless multiPaged}} hidden{{/unless}}"
       {{#unless next}}disabled{{/unless}}>
      {{icon 'atlas-arrow-thin-right'}}
    </a>
  {{/if}}
</div>
